<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Parcel Shipping</title>
    <link 
      rel="stylesheet" 
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
      crossorigin="anonymous">
  </head>
  <body>
    @using Project.Models;
    
    <h1>Here is the summary of your parcel shipping costs:</h1>
    <p>Parcel weighth @Model.Weigth in</p>  
    <p>Parcel heigth @Model.Heigth in</p>  
    <p>Parcel width @Model.Width in</p>  
    <p>Parcel length @Model.Length in</p> 
    <h3>Total Cost: $@Model.CostToShip() </h3> 
  </body>
</html>